*.o
*.a
.deps
.libs
Makefile
Makefile.in
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
intltool-extract
intltool-extract.in
intltool-merge
intltool-merge.in
intltool-update
intltool-update.in
missing
stamp-h1
autom4te.cache

po/Makefile.in.in
po/POTFILES
po/stamp-it
po/.intltool-merge-cache

common/test-dbus
common/test-client
common/test-config
common/connman-demo
applet/connman-applet
properties/connman-properties
marshal.h
marshal.c
*-glue.h
*.desktop
