*.o
*.a
.deps
.libs
Makefile
Makefile.in
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
intltool-extract
intltool-extract.in
intltool-merge
intltool-merge.in
intltool-update
intltool-update.in
missing
stamp-h1
autom4te.cache

po/Makefile.in.in
po/POTFILES
po/stamp-it
po/.intltool-merge-cache

common/instance-glue.h
common/test-client
applet/connman-applet
properties/connman-properties
*.desktop
